.Products {
  flex: 5;
  padding: 50px;
  height: 100vh;
  overflow: auto;
  
}

.card-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.Products .card {
  width: 200px;
  height: 275px;
  background: white;
  box-shadow: 5px 5px 15px #ccc;
  margin-top: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.Products .card img {
  width: 200px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.product-info {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}